* {
    box-sizing: border-box;
}

body {
    margin: 0;
    color: var(--dark-slate-grey);
}

picture,
img {
    width: 100%;
    max-width: 100%;
}
ul {
    list-style: none;
    padding: 0;
}
button,
input {
    font-family: inherit;
}
